@import 'variables';

.anonymous-icon-big {
  font-size: 100px;
  height: 100px;
  width: 100px;
}

.content {
  margin-bottom: 10px;
}

.icon-github:before {
  content: "\f092";
}

.theme {

  .circle {
    border-radius: 50% 50%;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 5px 0;
  }
  .default {
    background-color: var(--default-bg-card);

    span {
      background-color: var(--default-primary) !important;
    }
  }

  .dark {
    background-color: var(--dark-bg-card);

    span {
      background-color: var(--dark-primary) !important;
    }
  }

  .indigo {
    background-color: var(--indigo-bg-card);

    span {
      background-color: var(--indigo-primary) !important;
    }
  }
}
