:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.sync {
  padding: 8px;
  position: relative;
  top: 1px;
}

.title {
  margin-left: 16px;

  mat-form-field {
    width: 140px;
    font-size: 0.9em;
    position: relative;
    top: 2px;

    &.gt-xs {
      width: 250px;
    }
  }
}

.logs {
  padding: 0 16px;
}

.profile {
  margin-left: 7px;
}

.netflux-log {
  display: block;
  padding-bottom: 0 !important;
}

.log-slider {
  padding: 12px 0;
}

.debug-download {
  display: none;
}
