:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logs {
  padding: 0 16px;
}

.netflux-log {
  display: block;
  padding-bottom: 0 !important;
}

.log-slider {
  padding: 12px 0;
}

.debug-download {
  display: none;
}

.mat-mdc-form-field-override {
  text-align: left;
  margin-left: 0.3rem;
  margin-top: 0.7rem;
  height: 100%;
}