:host {
  display: flex;
  min-width: 30rem;
  height: 100%;
}

.fixed {
  position: fixed;
}

md-sidenav-layout {
  display: flex;
  height: 100%;
  background-color: #fdfdff;

  button[md-icon-button] {
    margin: 1rem 0 0 0;
  }

  md-sidenav {
    z-index: 100;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .input-icon-prefix {
      margin: 2rem 0 0 0;
      display: flex;
      align-items: center;

      md-icon {
        margin-right: 5px;
      }
    }
  }
}
