@import 'theme';

.syncing {
  animation-name: rotating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.sync-details {
  position: fixed;
  top: 66px;
  right: 20px;
  z-index: 1000;
  opacity: 0;

  h4 {
    text-align: center;
  }
}

.header {
  text-align: center
}

.sync-icon {
  height: 40px;
  width: 40px;
  position: relative;
  top: 1px;
}

.secondary-text {
  color: $fg-secondary-text;
}

.arrow {
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: fixed;
  right: 80px;
  top: 58px;
  z-index: 1000;
}