<div class="controls-buttons">
  <button mat-mini-fab (click)="onClickFastRewind()">
    <mat-icon>fast_rewind</mat-icon>
  </button>
  <button mat-mini-fab (click)="onClickPlay()">
    <mat-icon>{{ pausePlayBtn }}</mat-icon>
  </button>
  <button mat-mini-fab (click)="onClickFastForward()">
    <mat-icon>fast_forward</mat-icon>
  </button>
  <mat-slider thumbLabel
    min="1"
    max="{{ max }}"
    (input)="updateStep($event.value)">
  </mat-slider>
  <button
      style="margin-left: auto"
      mat-raised-button
      color="accent"
      (click)='showEditor()'>
      Back to edition
  </button>
</div>
