version: '3.9'

services:
  mute:
    image: mute
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 80:80
      - 443:443

  pulsar:
    image: apachepulsar/pulsar:2.6.0
    ports:
      - 8080:8080
      - 6650:6650
    environment:
      PULSAR_MEM: " -Xms512m -Xmx512m -XX:MaxDirectMemorySize=1g"
    volumes:
      - pulsardata:/pulsar/data
      - pulsarconf:/pulsar/conf
    command: bin/pulsar standalone

volumes:
  pulsardata:
  pulsarconf: