<md-toolbar color="primary">
  <div class="left-part" fxLayout="row" fxLayoutAlign="start center">
    <button md-icon-button (click)="ui.toggleNav()">
      <md-icon>menu</md-icon>
    </button>
    <div class="profile" fxHide fxShow.gt-sm='true'>
      <md-input-container dividerColor="accent" floatPlaceholder="never">
        <md-icon mdPrefix>account_circle</md-icon>
        <input #inputPseudo mdInput
            [value]="profile.onPseudonym | async"
            (keydown)="updatePseudo($event)"
            (blur)="updatePseudo($event)"
            (focus)="selectPseudo()"
        />
      </md-input-container>
    </div>
  </div>

  <ng-container [ngSwitch]="routeName">
    <!-- Toolbar content for Docs -->
    <ng-container class="docs" *ngSwitchCase="'docs'">
      <h2 class="central-part">{{rootFileTitle | async}}</h2>
      <button class="right-part" md-icon-button (click)="ui.toggleDocNav()">
        <md-icon>info</md-icon>
      </button>
    </ng-container>
  
    <!-- Toolbar content for Doc -->
    <ng-container *ngSwitchCase="'doc'">
      <!-- <mute-edit-field fxLayout="row" fxLayoutAlign="center center" [value]="rootFileTitle | async"
        defaultValue="Untitled document" (onDone)="updateTitle($event)">
      </mute-edit-field> -->
      <div class="central-part doc-title" [style.xs]="{'width.px': 200}">
        <md-input-container class="full-width" dividerColor="accent" floatPlaceholder="never">
          <input #inputTitle mdInput
              [value]="rootFileTitle | async"
              (keydown)="updateTitle($event)"
              (blur)="updateTitle($event)"
              (focus)="selectTitle()"
          />
        </md-input-container>
      </div>
      <div class="right-part" fxLayout="row" fxLayoutAlign="end center">
        <ng-container [ngSwitch]="syncIcon">
          <md-icon class="only-icon" *ngSwitchCase="SYNC">sync</md-icon>
          <md-icon class="only-icon" *ngSwitchCase="SYNC_DISABLED">sync_disabled</md-icon>
          <md-icon class="only-icon" *ngSwitchCase="SYNC_PROBLEM">sync_problem</md-icon>
          <md-icon class="only-icon syncing" *ngSwitchDefault>sync</md-icon>
        </ng-container>
        <button md-icon-button (click)="ui.toggleDocNav()">
          <md-icon>info</md-icon>
        </button>
      </div>
    </ng-container>
  
    <!-- Toolbar content for Doc History -->
    <ng-container *ngSwitchCase="'history'">
      <h2 class="central-part">{{rootFileTitle | async}}</h2>
      <button class="right-part" md-icon-button (click)="ui.toggleDocNav()">
        <md-icon>info</md-icon>
      </button>
    </ng-container>
  </ng-container>
</md-toolbar>

<!-- <md-card class="networkState">
        <md-card-header>
          <md-card-title>Status</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item>
              <div class="indicator" [ngSwitch]="onLineStatus">
                <md-icon *ngSwitchCase="true">check</md-icon>
                <md-icon *ngSwitchCase="false">clear</md-icon>
                <md-progress-spinner *ngSwitchCase="undefined" color="warn" mode="indeterminate">
                </md-progress-spinner>
              </div>
              Network
            </md-list-item>

            <md-divider *ngIf="isDoc()"></md-divider>
            <md-list-item *ngIf="isDoc()">
              <div class="indicator" [ngSwitch]="signalingStatus">
                <md-icon *ngSwitchCase="true">check</md-icon>
                <md-icon *ngSwitchCase="false">clear</md-icon>
                <md-progress-spinner *ngSwitchCase="undefined" color="warn" mode="indeterminate">
                </md-progress-spinner>
              </div>
              Signaling
            </md-list-item>

            <md-divider *ngIf="isDoc()"></md-divider>
            <md-list-item *ngIf="isDoc()">
              <div class="indicator" [ngSwitch]="networkStatus">
                <md-icon *ngSwitchCase="true">check</md-icon>
                <md-icon *ngSwitchCase="false">clear</md-icon>
                <md-progress-spinner *ngSwitchCase="undefined" color="warn" mode="indeterminate">
                </md-progress-spinner>
              </div>
              P2P Net
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card> -->