@import 'variables';

:host {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  z-index: 1000;
}

md-progress-spinner {
    width: 24px;
    height: 24px;
  }

md-toolbar {

  h2 {
    margin: 0;
    font-size: 2.4rem;
    font-family: $font-header;
    font-weight: initial;
  }

  .profile {
    margin-right: 10px;
    width: 300px;

    md-icon {
      margin-right: 10px;
    }
  }

  .indicator {
    margin-right: 8px;
  }

  .networkState {
    visibility: hidden;
    position: fixed;
    top: 70px;
    right: 30px;
  }

  .networkIcon:hover + .networkState {
    visibility: visible;
    
    animation-name: toggleCard;
    animation-duration: 0.150s;
  }

  @keyframes toggleCard {
    from {
      opacity: 0;
      }
    to {
      opacity: 1;
    }
}

  

}
