<div fxLayout="row" fxLayoutAlign="end center"
    (mouseenter)="togglePreEditState()"
    (mouseleave)="toggleViewState()"
    (click)="edit()">

  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="pseudo" #editableElm contenteditable="true" spellcheck="false"
        (keydown)="done($event)"
        (blur)="done($event)">
    </span>
    <span class="bottom-line-container">
      <span #bottomLine class="bottom-line"></span>
    </span>
  </div>

  <md-icon *ngIf="iconSet()">{{icon}}</md-icon>
</div>
