<div fxLayout="row" fxLayoutAlign="end center"
    (mouseenter)="togglePreEditState()"
    (mouseleave)="toggleViewState()"
    (click)="edit()">

  <div fxLayout="column" fxLayoutAlign="center center" cdkTrapFocus="false">
    <input type="text" #editableElm spellcheck="false"
        autofocus="false"
        maxlength="128"
        (keydown)="done($event)"
        (blur)="done($event)"
    />
    <span class="bottom-line-container">
      <span #bottomLine class="bottom-line"></span>
    </span>
  </div>

  <md-icon *ngIf="iconSet()">{{icon}}</md-icon>
</div>
