@import 'variables';

button, input {
  font-size: 2.4rem;
  font-family: $font-header;
}

button{
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    cursor: text;
  }
}

input {
  text-align: center;
}
