:host {
  display: flex;
  height: 100%;
  width: 100%;
}

mute-editor {
  flex-grow: 1;
}

mute-rightside {
  min-width: 30rem;
}

@media only screen and (max-width: 1366px) {
  mute-rightside {
    min-width: 20rem;
  }
}
