@import '../../assets/theme';
@import '../../assets/variables';

:host {
  height: 100%;
}

mat-sidenav-container {
  background-color: $color-bg !important;
  height: 100%;

  .rightsidenav {
    box-shadow: none;
    background-color: $color-bg !important;
    min-width: 30rem;
    max-width: 30rem;
  }
}
