@import 'theme';
@import 'variables';

:host {
  flex: 1;
  overflow: auto;
}

md-sidenav-container {
  background-color: $bg-background !important;
  height: 100%;

  .leftsidenav {
    min-width: 24rem;
  }

  .rightsidenav {
    background-color: $bg-background !important;
    min-width: 32rem;
    max-width: 32rem;
  }
}
