:host {
  flex: 1;
  overflow: auto;
}

.content {
  height: 100%;
  display: block;
  width: 100%;
}

mute-editor {
  padding: 10px 0;

  &.extrasmall {
    padding: 0;
  }
}

mat-drawer {
  box-shadow: none !important;
  background-color: var(--theme-bg-background) !important;
  width: 320px !important;
}

.info-panel {
  min-width: 360px;
  max-width: 360px;
}

mat-sidenav-container {
  height: 100%;
}

.menu-sidenav {
  min-width: 250px;
}

.info-sidenav {
  width: 400px;

  &.info-sidenav-lt-sm {
    width: 100%;
  }
}
