@import '../../assets/theme';
@import '../../assets/variables';

:host {
  min-width: 30rem;
}

.active {
  border-left: 3px solid md-color($accent);
  font-family: $font-medium;
}

.btn {
  margin: 0;
}

h1 {
  width: 100%;
  font-family: $font-logo;
  font-weight: initial;
  font-size: 4rem;
  margin: 0;
  padding: 2rem 0 0 0;
  text-align: center;

  a {
    color: inherit;
    text-decoration: inherit;
    outline: none;
  }
}
