<button md-icon-button class="close" (click)="ui.closeNav()"
    fxShow="false"
    fxShow.gt-md>
  <md-icon color="primary">close</md-icon>
</button>
<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <h1><a routerLink="/">MUTE</a></h1>
  <button fxFlexAlign="center" id="new-doc" md-raised-button color="accent" (click)="newDoc()">New Document</button>
  <nav fxLayout="column" fxLayoutAlign="start stretch">
    <mute-storage *ngFor="let storageService of getStorageServices()"
        [storageService]="storageService"
        (click)="setCurrentStorageService(storageService)">
    </mute-storage>
  </nav>
</div>
