@import 'theme';
@import 'variables';

:host {
  min-width: 30rem;
}

.btn {
  margin: 0;
}

.divider {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 1rem 0 2rem 0;
  background-image: linear-gradient(to left, $bg-card, $fg-divider, $bg-card);
}

h1 {
  width: 100%;
  font-family: $font-logo;
  font-weight: initial;
  font-size: 4rem;
  margin: 0;
  padding: 2rem 0 0 0;
  text-align: center;

  a {
    color: inherit;
    text-decoration: inherit;
    outline: none;
  }
}

md-button-toggle-group {
  box-shadow: none;

  .content {
    display: inline-block;
    width: 100%;
    height: 5rem;
    font-family: $font-header;
    font-size: 1.6rem;
  }

  md-icon {
    margin-right: 1rem;
  }
}
