<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2rem">
  <h1><a routerLink="/">MUTE</a></h1>
  <div class="profile" fxShow fxHide.gt-sm='true'>
    <md-form-field dividerColor="accent" floatPlaceholder="never">
      <md-icon mdPrefix>account_circle</md-icon>
      <input #inputPseudo mdInput
          [value]="profile.onPseudonym | async"
          (keydown)="updatePseudo($event)"
          (blur)="updatePseudo($event)"
          (focus)="selectPseudo()"
      />
    </md-form-field>
  </div>
  <button fxFlexAlign="center" class='btn' md-raised-button color="accent" (click)="newDoc()">New Document</button>
  <!--<button fxFlexAlign="center" class='btn' md-raised-button color="accent" (click)="openDialog()">Add Storage</button>-->

  <md-button-toggle-group fxLayout="column" fxLayoutAlign="start stretch"
      vertical="true"
      (change)="setActiveFile($event)"
  >

    <!-- All documents folder -->
    <md-button-toggle
          [routerLink]="'/docs/' + allDocuments.id"
          [value]="allDocuments"
          [checked]="activeFolder === allDocuments"
          (click)="onStorageClick()"
    >
      <span class="content" fxLayout="row" fxLayoutAlign="left center">
        <md-icon>{{allDocuments.icon}}</md-icon>
        {{allDocuments.title}}
      </span>
    </md-button-toggle>

    <!-- Local Storage folder -->
    <md-button-toggle
          [routerLink]="'/docs/' + local.id"
          [checked]="activeFolder === local"
          [value]="local"
          (click)="onStorageClick()"
    >
      <span class="content" fxLayout="row" fxLayoutAlign="left center">
        <md-icon>{{local.icon}}</md-icon>
        {{local.title}}
      </span>
    </md-button-toggle>

    <!-- Bots' folders -->
    <md-button-toggle
        *ngFor="let botFolder of botFoldersSubject.asObservable() | async; let isLast = last"
        [routerLink]="'/docs/' + botFolder.id"
        [checked]="activeFolder === botFolder"
        [value]="botFolder"
        (click)="onStorageClick()"
    >
      <span class="content" fxLayout="row" fxLayoutAlign="left center">
        <md-icon>{{botFolder.icon}}</md-icon>
        {{botFolder.title}}
      </span>
    </md-button-toggle>

    <!-- Trash folder -->
    <hr class='divider' />
    <md-button-toggle
          [routerLink]="'/docs/' + trash.id"
          [checked]="activeFolder === trash"
          [value]="trash"
          (click)="onStorageClick()"
    >
      <span class="content" fxLayout="row" fxLayoutAlign="left center">
        <md-icon>{{trash.icon}}</md-icon>
        {{trash.title}}
      </span>
    </md-button-toggle>
  </md-button-toggle-group>
</div>
