@import '../../assets/theme';
@import '../../assets/variables';

:host {
  min-width: 30rem;
}

.active {
  border-left: 3px solid md-color($accent);
  font-family: $font-medium;
}

.close {
  position: fixed;
  top: 10px;
  right: 0;
}

h1 {
  width: 100%;
  font-family: $font-header-regular;
  font-weight: initial;
  font-size: 3.4rem;
  margin: 1rem 0 1rem 0;
  text-align: center;

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

// .control {
//   margin
// }

//
// @media only screen and (max-width: 1366px) {
//   :host {
//     min-width: 20rem;
//   }
//   md-sidenav-layout {
//     md-sidenav {
//       width: 15rem;
//     }
//   }
// }
