<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2rem">
  <h1><a routerLink="/">MUTE</a></h1>
  <button fxFlexAlign="center" class='btn' md-raised-button color="accent" (click)="newDoc()">New Document</button>
  <!--<button fxFlexAlign="center" class='btn' md-raised-button color="accent" (click)="openDialog()">Add Storage</button>-->

  <md-button-toggle-group fxLayout="column" fxLayoutAlign="start stretch"
      vertical="true"
      (change)="setActiveFile($event)"
  >
    <ng-container *ngFor="let f of files | async">
      <hr *ngIf="f.id === 'trash'" class='divider' />
      <md-button-toggle
          [routerLink]="'/docs/' + f.id"
          routerLinkActive="" #rla="routerLinkActive"
          [checked]="rla.isActive"
          [value]="f"
          (click)="onStorageClick()"
      >
        <span class="content" fxLayout="row" fxLayoutAlign="left center">
          <md-icon>{{f.icon}}</md-icon>
          {{f.title}}
        </span>
      </md-button-toggle>
    </ng-container>

  </md-button-toggle-group>
</div>
