@import 'theme';
@import 'variables';

:host {
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  display: block;
}

mat-card {
  height: 100%;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;

  &.card-lt-sm {
    flex-basis: 100%;
    margin: 0 8px;
  }
  &.card-lt-lg {
    flex-basis: 100%;
    margin: 0 16px;
  }
  &.card-lg {
    margin-left: calc(50% - (575px));
    flex-basis: 1150px;
    min-width: 1150px;
    max-width: 1150px;
  }
  &.card-gt-lg {
    margin-left: calc(62.5% - (575px));
    flex-basis: 1150px;
    min-width: 1150px;
    max-width: 1150px;
  }
}

.airbag {
  height: 20px;
  flex: 0 0 auto;
}
