@import 'theme';
@import 'variables';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

md-card {
  margin: 14px 0;
}

.airbag {
  height: 20px;
  flex: 0 0 auto;
}

.marked {
  background-color: lightseagreen;
}
