@import '../../../assets/theme';
@import '../../../assets/variables';

md-card {
  margin: 20px 0 40px 0;
  max-width: 760px;

  mute-edit-field {
    text-align: center;
    color: md-color($primary);
    font-family: $font-header-light;
    font-size: 3rem;
  }
}

