@import '../../../assets/theme';
@import '../../../assets/variables';


button {
  width: 100%;
  text-align: left;
}

.active {
  border-left: 3px solid md-color($accent);
  font-family: $font-medium;
}
