@import '../../../assets/theme';
@import '../../../assets/variables';


button {
  width: 100%;
  text-align: left;
  height: 5rem;
  // font-size: 1.6rem;
}

.active {
  border-left: 3px solid md-color($accent);
  font-family: $font-medium;
}
