<h1 mat-dialog-title>Settings</h1>

<form (submit)="save()" action="#">
  <div mat-dialog-content>
    <h2 class="mat-subheading-2">Profile</h2>
    <div class="flex justify-start gap-x-5 pb-0">
      <mute-avatar [profile]="profile" [size]="100"></mute-avatar>

      <div style="width: 250px">
        <mat-form-field>
          <mat-label>Display name</mat-label>
          <input matInput maxlength="27" [formControl]="displayNameControl" (focus)="selectAll($event)">
          <mat-hint align="end">{{displayNameControl.value.length}} / 27</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput disabled tabindex="-1" [value]="profile.login">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Device ID</mat-label>
          <input matInput disabled tabindex="-1" [value]="profile.deviceID">
        </mat-form-field>
      </div>
    </div>

    <h2 class="mat-subheading-2">Theme</h2>
    <mat-form-field class="pt-2">
      <span matSuffix [ngClass]="['circle', theme]"></span>
      <mat-select class="text-[13px]" [(value)]="theme" (selectionChange)="applyTheme($event)">
        <mat-option value="default">
          <span class="circle default"></span> light
        </mat-option>
        <mat-option value="dark">
          <span class="circle dark"></span> dark
        </mat-option>
        <mat-option value="indigo">
          <span class="circle indigo"></span> light
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex justify-end" >
      <button mat-button mat-dialog-close (keyup.enter)="cancel()" (click)="cancel()">CANCEL</button>
      <button mat-button mat-dialog-close type="submit">SAVE</button>
    </div>
  </div>
</form>