@import 'variables';

md-list {
  text-align: right;

  mute-edit-field {
    font-size: 2rem;
  }

  h3 {
    text-align: left;
  }

  .storages {
    md-chip {
      margin: 0 7px;

      &:last-child {
        margin: 0;
      }
    }
  }

  md-divider {
    margin-bottom: 10px;
  }

  .connection {

    .title {
      line-height: 2.5rem;
    }

    .indicator {
      margin-left: 5px;
    }
  }

  md-progress-circle {
    width: 24px;
    height: 24px;
  }
}
