@import '../assets/variables';

:host {
  height: 100%;
}

md-toolbar {

  position: fixed;
  z-index: 9999;

  md-toolbar-row div {
    width: 100%;
  }
}

.leftsidenav {
  min-width: 20rem;
}

.gap {
  display: block;
  height: $toolbar-height-md;
}

@media only screen and (max-width: 960px) {
  .gap {
    height: $toolbar-height-sm;
  }
}
