<md-toolbar fxHide="false" fxHide.gt-md color="primary">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
    <button md-icon-button (click)="ui.toggleNav()">
      <md-icon>menu</md-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="end center">
      <mute-pseudonym fxLayout="row" fxLayoutAlign="end center"></mute-pseudonym>
      <button md-icon-button fxFlexOffset="10px" (click)="ui.toggleDocNav()">
        <md-icon>menu</md-icon>
      </button>
    </div>
  </div>
</md-toolbar>

<md-sidenav-container>

  <!-- Left Sidenav-->
  <md-sidenav align="start" mode="over" #leftSidenavElm>
    <mute-nav></mute-nav>
  </md-sidenav>

  <!-- Content -->
  <router-outlet></router-outlet>

</md-sidenav-container>
<mute-dev-label *ngIf="visible"></mute-dev-label>
