:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;

  @media screen and (max-width: 599px) {
    top: 56px;
  }
}

.update-card {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 70px;
  border-radius: 0 34px 34px 0;
  padding: 7px;
  width: 250px;
}
