<md-toolbar fxHide="false" fxHide.gt-md color="primary">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
    <button md-icon-button (click)="ui.toggleNav()">
      <md-icon>menu</md-icon>
    </button>
    <mute-pseudonym fxLayout="row" fxLayoutAlign="end center"></mute-pseudonym>
  </div>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenavElm mode="over">
    <mute-nav></mute-nav>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
<mute-dev-label *ngIf="visible"></mute-dev-label>
