@import 'vars';

:host {
  max-width: 300px;
}

.logo {
  width: 100%;
  font-family: $font-logo;
  font-weight: initial;
  font-size: 2.7rem;
  margin: 0;
  padding: 2rem 0 0 0;
  text-align: center;

  a {
    color: inherit;
    text-decoration: inherit;
    outline: none;
  }
}

.new-doc-hint-text {
  text-align: center;
}

.local-and-remote {
  margin-right: 0;

  &::after {
    content: "+";
    color: var(--theme-fg-icon);
    position: relative;
    bottom: 4px;
  }
}

.buttons {

  .active {
    background-color: var(--theme-bg-focused-button);
    color: var(--theme-primary);
  }

  .mat-divider {
    margin: 7px 0;
  }

  .mat-button {
    height: 48px;
    text-align: left;

    mat-icon {
      margin-right: 1.3rem;
    }
  }

  .quota {
    color: var(--theme-fg-hint-text);
    text-align: center;
    margin: 5px 0;
  }
}

