@import 'vars';

:host {
  max-width: 300px;
}

.container {
  height: 100%;
}

.logo {
  width: 100%;
  font-family: $font-logo;
  font-weight: initial;
  font-size: 2.7rem;
  margin: 0;
  padding: 2rem 0 0 0;
  text-align: center;

  a {
    color: inherit;
    text-decoration: inherit;
    outline: none;
  }
}

.new-doc-icons {
  display: inline-block;
  width: 60px;
  text-align: center;

  .mat-icon {
    margin: 0;
  }
}

.buttons {
  .active {
    background-color: var(--theme-bg-focused-button);
    color: var(--theme-primary);
  }

  .mat-divider {
    margin: 7px 0;
  }

  .mat-button {
    height: 48px;
    text-align: left;

    mat-icon {
      margin-right: 1.3rem;
    }
  }

  .hint {
    color: var(--theme-fg-secondary-text);
    text-align: center;
    margin: 5px auto;
    width: 80%;
    word-wrap: normal;
  }
}

.app-info {
  margin: 16px 0;
  color: var(--theme-fg-secondary-text);
  word-wrap: normal;
  text-align: left;
  padding-left: 16px;

  a {
    color: var(--theme-fg-text);

    &:visited {
      color: var(--theme-fg-text);
    }
  }

  p {
    margin-bottom: 0;
  }
}

.install-update-btns {
  margin: 16px 16px 0 16px;
}
