<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1.3rem">
  <h1 class="logo"><a routerLink="/">MUTE</a></h1>
  <button fxFlexAlign="center" class='btn' mat-raised-button color="accent"
    [matMenuTriggerFor]="newDocMenu">
    New Document
  </button>

  <mat-menu #newDocMenu="matMenu">
    <h2 class="mat-caption new-doc-hint-text">Create a new document:</h2>
    <button mat-menu-item>
      <mat-icon>computer</mat-icon>
      <span>On current device</span>
    </button>
    <button *ngIf="!this.remoteErrorMessage" mat-menu-item>
      <mat-icon class="local-and-remote">computer</mat-icon>
      <mat-icon>cloud</mat-icon>
      <span>With remote</span>
    </button>
    <button mat-menu-item>
      <mat-icon>group_work</mat-icon>
      <span>Join existed document</span>
    </button>
  </mat-menu>

  <div fxLayout="column" fxLayoutAlign="start stretch" class="buttons">

    <ng-container *ngIf="isRemoteExist">
      <!-- All Documents -->
      <button mat-button [ngClass]="{'active': selected === all}" (click)="openFolder(all)">
        <mat-icon [color]="selected === all ? 'primary' : ''">{{all.icon}}</mat-icon>{{all.title}}
      </button>

      <mat-divider></mat-divider>
    </ng-container>

    <!-- Local storage -->
    <button mat-button [ngClass]="{'active': selected === local}" (click)="openFolder(local)">
      <mat-icon [color]="selected === local ? 'primary' : ''">{{local.icon}}</mat-icon>{{local.title}}
    </button>

    <!-- Trash -->
    <button mat-button [ngClass]="{'active': selected === trash}" (click)="openFolder(trash)">
      <mat-icon [color]="selected === trash ? 'primary' : ''">{{trash.icon}}</mat-icon>{{trash.title}}
    </button>

    <!-- Local storage quota -->
    <div *ngIf="isStorageManagerAvailable">
      <div class="mat-caption quota">{{usage | muteSize}} of {{quota | muteSize}} used</div>
    </div>

    <mat-divider></mat-divider>


    <ng-container *ngIf="isRemoteExist">
      <!-- Remote storage -->
      <button mat-button [ngClass]="{'active': selected === remote}"
        [disabled]="remoteErrorMessage"
        [matTooltip]="remoteErrorMessage" matTooltipPosition="right"
        (click)="openFolder(remote)">
        <mat-icon [color]="selected === remote ? 'primary' : ''">{{remote.icon}}</mat-icon>{{remote.title}}
      </button>

      <mat-divider></mat-divider>
    </ng-container>

    <!-- Settings -->
    <button mat-button (click)="openSettingsDialog()">
      <mat-icon>settings</mat-icon>Settings
    </button>

  </div>

</div>
