:host {
  display: inline-block;
}

.header-1 {
  font-size: 18pt;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Roboto-Medium';
}

.header-1::after,
.header-2::after {
  display: block;
  content: ' ';
  margin-top: 2px;
  height: 1px;
  background: #eee;
}

.header-2 {
  font-size: 16pt;
  font-weight: 600;
}

.header-3 {
  font-size: 12.4pt;
  font-weight: 700;
}

.header-4 {
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 700;
}

.header-5 {
  text-transform: uppercase;
  font-size: 11pt;
  font-weight: 700;
}

.italic {
  font-style: italic;
  font-size: 12pt;
}

.strong {
  font-weight: 600;
}

.strikethrough {
  text-decoration: line-through;
}

.list {
  display: inline-block;
  color: #666;
  text-align: right;
}

.inline-code {
  display: inline-block;
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 4px;
  vertical-align: middle;
  border: #ccc solid 1px;
  padding: 1px 0.4em;
  color: #922;
  font-size: 90%;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.quotation {
  color: #666;
  font-style: italic;
  padding: 22px;
}

.quotation::before {
  width: 20px;
  content: ' ';
  position: absolute;
  left: 2px;
  top: 0;
  height: 100%;
  background: url(data:image/gif;base64,R0lGODlhIAABAIABAOjo6P///yH5BAEAAAEALAAAAAAgAAEAAAIHhI8Yy+1cAAA7);
  background-size: 20px 1px;
}

.check-list {
  color: transparent;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAwCAMAAAA8VkqRAAAAclBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACa4vOeAAAAJXRSTlMADcjpDswcLZOzsvOYBvWdbtvTX0D69+ORa1dRJCDtuaF7ZDkoQyuUXgAAAMhJREFUOMvt0reywjAUhOFjKxmcrgMZboL//V8Rm6GwkNUx0LClvhkVZ1fEZoqHqMwO7wuUSb0YxcJKxtLpxIt2SzJRykkQp5RgdAjaIKRJCEn6gWdA9OzRoqLVRscQnc9bdtXX/eyurOF7N3erLVDPwCGHxoVwamH1LwGUBfBbhrCvoLlMitL9DY8trLtJg7qoCj18VAN1OYE/YJBuDe1RJtBVo5wbqPb+GL5yWG1GLX0YZYw5iQ93yQ/yAHfZzu5qt/mxr97VFS15JGSVM0C6AAAAAElFTkSuQmCC);
  background-size: 1em;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  vertical-align: middle;
  white-space: nowrap;
  height: 1em;
  line-height: 1em;
}

.check-list-checked {
  background-position-y: -1em;
}

.block-code {
  color: #922;
  font-size: 90%;
  opacity: 0.3;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.url {
  color: #4078c0;
  text-decoration: none;
}
