:host {
  flex: 1;
}

.nav {
  border-right: 1px solid var(--theme-fg-divider);
}

.contenteditable {
  padding: 4px;

  &:active, &:focus{
    outline-width: 1px;
    outline-color: var(--theme-accent);
  }
}

.mat-table {
  overflow: auto;
}

.title-icon {
  margin-right: 5px;
  vertical-align: middle;
}

.table-container {
  height: 100%;
}

.mat-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
}

.col-key {
  word-wrap: inherit;
}

.info-values {
  font-weight: 700;
}

.table-container-mobile {
  height: 100%;
}

.table-header {
  font-weight: 700;
}

.name-cell {
  align-self: stretch;
}

.actions {
  margin-right: 30px;
}

.title-button {
  position: relative;
  bottom: 1px;
}

.noDoc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    min-width: 250px;
  }

  .rightsidenav {

    .divider {
      border: 0;
      height: 1px;
      width: 100%;
      margin: 1rem 0 2rem 0;
    }

    .content {
      margin-top: 30px;
    }
  }
}
