@import 'variables';
@import 'theme';

:host {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
}

.doc-grid {
  margin: 20px;
}

mat-card {
  mat-card-title {
    font-weight: bold;
  }

  .locationIcon {
    position: relative;
    top: 7px;
  }

  .status {
    background-color: #9D9D9D;
    margin-bottom: 10px; 
    mat-icon {
      position: relative;
      top: 6px;
      left: 8px;
      color: white;
    }
    
  }
  margin: 2px;
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    @media (max-width: 600px) {
      flex-direction: column;
    }
    
    button {
      transition-property: all;
      transition-duration: 200ms;
      opacity: 0;
      visibility: hidden;
    }
  }
 
}

mat-card:hover {
  .actions{
    opacity: 1;
    
    button { 
      opacity: 1;
      visibility: visible;
    }
  }
}

.noDoc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  font-family: Roboto; 
  font-size: xx-large;
  color: #9E9E9E;
}

.leftsidenav {
  background-color: $bg-background !important;
}

mat-sidenav-container {
  background-color: $bg-background !important;
  height: 100%;

  mat-sidenav {
    min-width: 24rem;
  }

  .rightsidenav {
    background-color: $bg-background !important;

    .divider {
      border: 0;
      height: 1px;
      width: 100%;
      margin: 1rem 0 2rem 0;
      background-color: $fg-divider;
    }

    .content {
      margin-top: 10px;

      .line {

        &.global-actions {
          padding: 0 20px 0 0;
        }

        .secondary-text {
          margin-right: 20px;
          color: $fg-secondary-text;
        }
      }
    }
  }
}