:host {
  flex: 1;
  overflow: auto;
}
.mat-table {
  overflow: auto;

  .mat-cell {
    text-overflow: ellipsis;
    overflow: hidden;

    &.title-cell {
      padding-left: 0;
    }

    .doc-in-trash {
      padding: 0 16px;
    }

    .key {
      width: 90px;
      word-wrap: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .mat-row {
    padding-left: 5px;

    &:hover {
      .desktop-actions {
        visibility: visible;
      }
    }
  }

  .title-icon {
    margin-right: 5px;
    vertical-align: middle;
  }

  .desktop-actions {
    visibility: hidden;
    margin-right: 16px;
  }

  .synchronized-icon {
    vertical-align: bottom;
    margin-right: 5px;
  }
}

.mobile {
  .mat-row {
    padding: 0;
  }
}

.nav {
  border-right: 1px solid var(--theme-fg-divider);
}

.contenteditable {
  padding: 4px;

  &:active,
  &:focus {
    outline-width: 1px;
    outline-color: var(--theme-accent);
  }
}

.table-container {
  height: 100%;
}

.info-values {
  font-weight: 700;
}

.table-container-mobile {
  height: 100%;
}

.title-button {
  position: relative;
  bottom: 1px;
}

.noDoc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    min-width: 250px;
  }

  .rightsidenav {
    .divider {
      border: 0;
      height: 1px;
      width: 100%;
      margin: 1rem 0 2rem 0;
    }

    .content {
      margin-top: 30px;
    }
  }
}
