@import 'variables';
@import 'theme';

:host {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
}

.mat-table {
  overflow: auto;
}

.title-icon {
  color: $fg-icon;
  margin-right: 5px;
}

.table-container {
  height: 100%;
  padding: 30px 20px;
}

.mat-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
}

.info-values {
  font-weight: 700;
}

.table-container-mobile {
  height: 100%;
}

.table-header {
  font-weight: 700;
}

.name-cell {
  align-self: stretch;
}

.actions {
  margin-right: 30px;
}

.title-button {
  position: relative;
  bottom: 1px;
}

.secondary-text {
  color: $fg-secondary-text;
}

.noDoc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  color: $fg-hint-text;
}

.leftsidenav {
  background-color: $bg-background !important;
}

mat-sidenav-container {
  background-color: $bg-background !important;
  height: 100%;

  mat-sidenav {
    min-width: 24rem;
  }

  .rightsidenav {
    background-color: $bg-background !important;

    .divider {
      border: 0;
      height: 1px;
      width: 100%;
      margin: 1rem 0 2rem 0;
      background-color: $fg-divider;
    }

    .content {
      margin-top: 30px;
    }
  }
}