@import 'variables';
@import 'theme';

:host {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
}

md-card {
  md-card-title {
    font-weight: bold;
  }

  .locationIcon {
    position: relative;
    top: 7px;
  }

  .status {
    background-color: #9D9D9D;
    margin-bottom: 10px; 
    md-icon {
      position: relative;
      top: 6px;
      left: 8px;
      color: white;
    }
    
  }
  margin: 2px;
  .actions {
    max-height: 0;
    height: 0;
    transition-property: all;
    transition-duration: 1.5s;
    button {
      opacity: 0;
      visibility: hidden;
    }
  }
 
}

md-card:hover {
  .actions{
    opacity: 1;
    height: auto;
    max-height: 30em;
    button {
      transition-delay: 200ms;
      transition-property: all;
      transition-duration: 200ms; 
      opacity: 1;
      visibility: visible;
    }
  }
}

.noDoc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  font-family: Roboto; 
  font-size: xx-large;
  color: #9E9E9E;
}

.leftsidenav {
  background-color: $bg-background !important;
}

md-sidenav-container {
  background-color: $bg-background !important;
  height: 100%;

  md-sidenav {
    min-width: 24rem;
  }

  .rightsidenav {
    background-color: $bg-background !important;

    .divider {
      border: 0;
      height: 1px;
      width: 100%;
      margin: 1rem 0 2rem 0;
      background-color: $fg-divider;
    }

    .content {
      margin-top: 10px;

      .line {

        &.global-actions {
          padding: 0 20px 0 0;
        }

        .secondary-text {
          margin-right: 20px;
          color: $fg-secondary-text;
        }
      }
    }
  }
}