@import 'theme';
@import 'variables';
$padding-left-right: 2%;

:host {
  flex-direction: column;
  align-items: center;
}

md-card {
  width: 800px;
  height: auto;
  margin: 10px auto;
  height: 94%;
  cursor: text;
}

.content {
  display: flex;
  flex-direction: column;
}

md-input-container {
  margin: auto;
  width: 100% - 2 * $padding-left-right;
  //width: 100%;
  //box-sizing: border-box;
}

mute-timeline {
  padding: 40px $padding-left-right 0 $padding-left-right;
}

md-sidenav-container {
  background-color: $bg-background !important;
  height: 100%;


  .leftsidenav {
    min-width: 24rem;
  }

  .rightsidenav {
    background-color: $bg-background !important;
    min-width: 32rem;
    max-width: 32rem;
  }
}

