@import 'variables';

ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  color: white !important;
  font-family: $font;
  margin-bottom: 10px;
  padding: 6px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 12rem;
  border-radius: 15px;
}
