:host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.6rem;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.fixed {
  position: fixed;
  right: 0;
  width: 30rem;
  height: 100%;

  md-sidenav-layout {
    height: 100%;
    background-color: #FFF;

    button[md-icon-button] {
      margin: 1rem 1rem 0 0;
    }

    md-sidenav {
      box-shadow: none;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .input-icon-suffix {
        margin: 2rem 1rem 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        md-icon {
          margin-left: 5px;
        }
      }
    }
  }
}
