<div class="fixed">
  <div id="main-container">
    <md-sidenav-layout>
      <button md-icon-button (click)="toggleSidenav()" color="primary">
        <md-icon [textContent]="menuIcon"></md-icon>
      </button>
      <md-sidenav #sidenavElm align="end" mode="side">
        <md-input class='docTitle' #docTitleElm placeholder="Document title"></md-input>
        <md-tab-group>
          <md-tab >
            <template md-tab-label>
              Collaborators
            </template>
            <template md-tab-content>
              <mute-collaborators></mute-collaborators>
            </template>
          </md-tab>
        </md-tab-group>
      </md-sidenav>
    </md-sidenav-layout>
  </div>
<div>
