.avatar-img {
  border-radius: 50% 50%;
}

.anonymous-icon-big {
  font-size: 100px;
  height: 100px;
  width: 100px;
}

.profile-card {
  position: fixed;
  top: 66px;
  right: 20px;
  // z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.settings-btn {
  margin-right: 5px;
}

.name {
  font-weight: 700;
}

.my-account {
  margin-top: 10px;
}

.content {
  margin-bottom: 10px;
}

.icon-github:before {
  content: '\f092';
}

.arrow {
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: fixed;
  right: 28px;
  top: 58px;
}
