<button mat-icon-button (mousedown)='toggleCard($event)'>
  <mute-avatar [profile]="profile"></mute-avatar>
</button>

<mat-card class="profile-card mat-elevation-z8" [@cardState]="cardState" (mousedown)='mousedown($event)'>
  <span class="arrow"></span>
  <div class="content" fxLayoutAlign="start start" fxLayoutGap="20px">
    <mute-avatar [profile]="profile" size="100"></mute-avatar>

    <div fxLayout="column">
      <span class="mat-body-2 name">{{ profile.displayName }}</span>
      <span class="mat-caption secondary-text">{{ profile.login }}</span>
      <span class="mat-caption secondary-text">{{ profile.deviceID }}</span>
      <button mat-raised-button color="accent" class="my-account" (click)="openSettingsDialog()">
        <mat-icon aria-label="open settings dialog" class="settings-btn">settings</mat-icon>Settings
      </button>
    </div>
  </div>

  <mat-card-actions *ngIf="isAuthenticationConfigured">
    <div fxLayoutAlign="end center" *ngIf="settings.isAuthenticated(); else signin">
      <!-- <button mat-button disabled>Add account</button> -->
      <button mat-button (click)="signout()">Sign Out</button>
    </div>
    <ng-template #signin>
      <div fxLayoutAlign="end center">
        <span class="mat-caption secondary-text">Sign in with</span>

        <button *ngIf="isAuthenticationConfiguredForProvider('github')" mat-icon-button (click)="signinWith('github')" matTooltip="Github">
          <mat-icon aria-label="Sign in with Github" fontSet="icon-github-circled"></mat-icon>
        </button>
        <button *ngIf="isAuthenticationConfiguredForProvider('google')" mat-icon-button (click)="signinWith('google')" matTooltip="Google">
          <mat-icon aria-label="Sign in with Google" fontSet="icon-google"></mat-icon>
        </button>
      </div>

    </ng-template>
  </mat-card-actions>
</mat-card>
