<button mat-icon-button (mousedown)='toggleCard($event)'>
  <ng-container *ngIf="profile.avatar; else anonymousIcon">
    <img class='avatar-img' src="{{profile.avatar}}" alt="avatar" height="32" width="32" />
  </ng-container>
  <ng-template #anonymousIcon>
    <mat-icon aria-label="show profile information">account_circle</mat-icon>
  </ng-template>
</button>

<mat-card class="profile-card mat-elevation-z8" [@cardState]="cardState" (mousedown)='mousedown($event)'>
  <span class="arrow"></span>
  <div class="content" fxLayoutAlign="start start" fxLayoutGap="20px">
    <ng-container *ngIf="profile.avatar; else anonymousIconBig">
      <img height="100px" weight="100px" class="card-icon" src="{{profile.avatar}}" alt="avatar" />
    </ng-container>
    <ng-template #anonymousIconBig>
      <mat-icon class="anonymous-icon-big" aria-label="avatar">account_circle</mat-icon>
    </ng-template>

    <div fxLayout="column">
      <span class="mat-body-2 name">{{ profile.displayName }}</span>
      <span class="mat-caption secondary-text">{{ profile.login }}</span>
      <span class="mat-caption secondary-text">{{ profile.deviceID }}</span>
      <button mat-raised-button color="accent" class="my-account" (click)="openSettingsDialog()">
        <mat-icon aria-label="open settings dialog" class="settings-btn">settings</mat-icon>Settings
      </button>
    </div>
  </div>

  <mat-card-actions>
    <div fxLayoutAlign="end center" *ngIf="settings.isAuthenticated(); else signin">
      <!-- <button mat-button disabled>Add account</button> -->
      <button mat-button (click)="signout()">Sign Out</button>
    </div>
    <ng-template #signin>
      <div fxLayoutAlign="end center">
        <span class="mat-caption secondary-text">Sign in with: </span>
        <button mat-icon-button (click)="signinWith('github')" matTooltip="Github">
          <mat-icon aria-label="Sign in with Github" fontSet="icon-github-circled"></mat-icon>
        </button>
        <button mat-icon-button (click)="signinWith('google')" matTooltip="Google">
          <mat-icon aria-label="Sign in with Google" fontSet="icon-google"></mat-icon>
        </button>
      </div>

    </ng-template>
  </mat-card-actions>
</mat-card>
