@import '~codemirror/lib/codemirror.css';
@import '~tui-editor/dist/tui-editor.css';
@import '~tui-editor/dist/tui-editor-contents.css';

// Document body
$editor-font-family: 'Montserrat', sans-serif;

// Hide bottom Markdown/WYSIWYG switching panel
.te-mode-switch-section {
  display: none;
}

.tui-editor-defaultUI {
  border: none;
}

.CodeMirror {
  font-family: $editor-font-family, sans-serif;
  font-size: 14px !important;
  color: var(--theme-fg-text);
  background-color: var(--theme-bg-color); // $bg-card;
  line-height: 24px;

  .collaborator-cursor-bookmark {
    // This prevent line collapse bug in Firefox
    &::before {
      content: '';
    }
  }

  .collaborator-cursor {
    border-left: 2px solid;
    position: absolute;
  }

  .collaborator-cursor-transition {
    position: absolute;
    border-left: 2px solid;
  }

  .collaborator-display-name {
    z-index: 10000;
    display: inline-block;
    position: absolute;
    padding: 1px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 0;
    max-width: 90px;
    bottom: 15px;
    line-height: 12px;
    left: -2px;
    font-size: 10px;
    transition: width 0.12s;
    border-radius: 5px 12px 12px 0;
  }
}

.CodeMirror-cursor {
  border-color: var(--theme-fg-text);
}
