@font-face {
    font-family: DroidSans;
    src: url(/assets/font/Droid_Sans/DroidSans.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(/assets/font/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(/assets/font/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: CinzelDecorative-Regular;
    src: url(/assets/font/Cinzel_Decorative/CinzelDecorative-Regular.ttf);
}

// Document body
$font-light: DroidSans, sans-serif;
$font-regular: DroidSans, sans-serif;
$font-medium: DroidSans, sans-serif;

// Headers
$font-header: Lato-Regular, sans-serif;
$font-header-bold: Lato-Bold, sans-serif;

// Logo
$font-logo: CinzelDecorative-Regular, serif;

$color-bg: #ECEFF1;
$color-divider: #BDBDBD;

// FIXME: temporary layout fix
$toolbar-height-md: 64px;
$toolbar-height-sm: 48px;
