@font-face {
  font-family: 'Droid Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Droid-Sans/Droid-Sans-regular.woff2') format('woff2'),
       url('/assets/fonts/Droid-Sans/Droid-Sans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/Lato/Lato-300.woff2') format('woff2'),
       url('/assets/fonts/Lato/Lato-300.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Lato/Lato-regular.woff2') format('woff2'),
       url('/assets/fonts/Lato/Lato-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/Lato/Lato-700.woff2') format('woff2'),
       url('/assets/fonts/Lato/Lato-700.woff') format('woff');
}

@font-face {
  font-family: 'Cinzel Decorative';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Cinzel-Decorative/Cinzel-Decorative-regular.woff2') format('woff2'),
       url('/assets/fonts/Cinzel-Decorative/Cinzel-Decorative-regular.woff') format('woff');
}

@font-face {
  font-family: 'Cinzel Decorative';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Cinzel-Decorative/Cinzel-Decorative-regular.woff2') format('woff2'),
       url('/assets/fonts/Cinzel-Decorative/Cinzel-Decorative-regular.woff') format('woff');
}

@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/fontello/fontello.woff2') format('woff2'),
       url('/assets/fonts/fontello/fontello.woff') format('woff');
}


// Document body
$font: 'Droid Sans', sans-serif;

// Headers
$font-header: 'Lato', sans-serif;

// Logo
$font-logo: 'Cinzel Decorative', cursive;

$color-divider: #BDBDBD;

// FIXME: temporary layout fix
$toolbar-height-md: 64px;
$toolbar-height-sm: 48px;
