@import '~@angular/material/theming';

// Document body
$font: 'Droid Sans', sans-serif;

// Headers
$font-header: 'Lato', sans-serif;

// Logo
$font-logo: 'Cinzel Decorative', cursive;

$color-divider: #BDBDBD;

// FIXME: temporary layout fix
$toolbar-height-md: 64px;
$toolbar-height-sm: 48px;
