@import '~@angular/material/theming';
@include mat-core();

@mixin define-theme-css-variables($theme, $prefix: 'default') {
  :root {
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    --#{$prefix}-primary: mat-color($primary);
    --#{$prefix}-accent: mat-color($accent);
    --#{$prefix}-bg-card: map-get($bg, card);
    --#{$prefix}-bg-background: map-get($bg, background);
    --#{$prefix}-fg-text: map-get($fg, text);
  }
}

//###########################################################
// DEFAULT theme
//###########################################################
$theme: mat-light-theme(
  mat-palette($mat-light-blue, 600, 200, 800),
  mat-palette($mat-amber, A400, A700)
);

@include define-theme-css-variables($theme);
@include angular-material-theme($theme);


//###########################################################
// DARK theme
//###########################################################
$theme: mat-dark-theme(
  mat-palette($mat-light-blue, 600, 200, 800),
  mat-palette($mat-amber, A400, A700)
);
$prefix: 'dark';

@include define-theme-css-variables($theme, $prefix);
.#{$prefix}-theme {
  @include angular-material-theme($theme);
}

//###########################################################
// INDIGO theme
//###########################################################
$theme:   mat-light-theme(
  mat-palette($mat-indigo, 400),
  mat-palette($mat-amber, A200, A100, A400),
  mat-palette($mat-deep-orange)
);
$prefix: 'indigo';

@include define-theme-css-variables($theme, $prefix);
.#{$prefix}-theme {
  @include angular-material-theme($theme);
}


//###########################################################
// Global CSS variables set to default theme by default
//###########################################################
@mixin define-global-css-variables($prefix: 'default') {
  :root {
    --theme-primary: var(--#{$prefix}-primary);
    --theme-accent: var(--#{$prefix}-accent);
    --theme-bg-card: var(--#{$prefix}-bg-card);
    --theme-bg-background: var(--#{$prefix}-bg-background);
    --theme-fg-text: var(--#{$prefix}-fg-text);
  }
}
@include define-global-css-variables('default');
// :root {
//   --theme-primary: var(--default-primary);
//   --theme-accent: var(--default-accent);
//   --theme-bg-color: var(--default-bg-card);
//   --theme-fg-text: var(--default-fg-text);
// }


// Possibles values: ########################################

// Background color
// $bg-status-bar: map-get($mat-bg, status-card);
// $bg-background: map-get($mat-bg, background);
// $bg-hover: map-get($mat-bg, hover);
// $bg-card: map-get($mat-bg, card);
// $bg-dialog: map-get($mat-bg, dialog);
// $bg-disabled-button: map-get($mat-bg, disabled-button);
// $bg-raised-button: map-get($mat-bg, raised-button);

// // Foreground color
// $mat-fg: map-get($default-theme, foreground);
// $fg-base: map-get($mat-fg, base);
// $fg-divider: map-get($mat-fg, divider);
// $fg-dividers: map-get($mat-fg, dividers);
// $fg-disabled: map-get($mat-fg, disabled);
// $fg-disabled-button: map-get($mat-fg, disabled-button);
// $fg-disabled-text: map-get($mat-fg, disabled-text);
// $fg-hint-text: map-get($mat-fg, hint-text);
// $fg-secondary-text: map-get($mat-fg, secondary-text);
// $fg-icon: map-get($mat-fg, icon);
// $fg-icons: map-get($mat-fg, icons);
// $fg-text: map-get($mat-fg, text);
// ##########################################################
