@import 'theme';
@import 'variables';

.mute-style-toolbar {
  z-index: 3;
  position: absolute;
  transition: opacity 0.15s;
  transition-timing-function: ease-in-out;
  background-color: whitesmoke;
}

.active {
  opacity: 1;
  visibility: visible;
}

.disabled {
  color: $fg-disabled-text;
}

.inactive {
  opacity: 0;
  visibility: hidden;
}

.list-character {
  font-weight: bold;
  font-size: 1.1em;
}