@import 'theme';
@import 'variables';

.mute-style-toolbar {
  z-index: 3;
  position: absolute;
  transition: opacity 0.15s;
  transition-timing-function: ease-in-out;
}

.mat-button {
  background-color: #ffc400;
  border-radius: 0;
}

.mat-button:hover:not([disabled]) {
  background-color: #ffc400;
}

.mat-button-toggle {
  background-color: #ffc400;
}

.mat-button-toggle:hover {
  background-color: #E5B000;
}

.mat-button-toggle-checked {
  background-color: #ffc400;
}

.mat-menu-item {
  background-color: #ffc400;
  font-family: $font-header;
}

.mat-menu-item:hover:not([disabled]) {
  background-color: #E5B000;
}

.active {
  opacity: 1;
  visibility: visible;
}

.disabled {
  color: $fg-disabled-text;
}

.inactive {
  opacity: 0;
  visibility: hidden;
}

.list-character {
  font-weight: bold;
  font-size: 1.1em;
}