/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~codemirror/lib/codemirror.css';
@import '~tui-editor/dist/tui-editor.css';
@import '~tui-editor/dist/tui-editor-contents.css';

@import 'mute-theme';
@import 'mute-codemirror';
@import 'variables';
@import 'spinner';
@import 'fontello';

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.te-mode-switch-section {
  display: none;
}

html {
  font-size: 10px;

  body {
    font-size: 1.4rem;
    margin: 0;
  }


  .contenteditable {
    padding: 4px;
  }

  .contenteditable:active,
  .contenteditable:focus{
    outline-width: 1px;
    outline-color: var(--theme-accent);
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    margin: 0;
    font-size: 24px;
  }
}
