/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import 'assets/theme';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~codemirror/lib/codemirror.css';
@import 'assets/mute-codemirror.scss';
@import 'assets/variables';
@import 'assets/spinner.scss';

html {
  font-size: 10px;

  &, body {
    height: 100%;
    width: 100%;
  }

  body {
    font-size: 1.4rem;
    background-color: $color-bg;
  }

  .md-sidenav-content {
    display: inline-grid;
    background-color: $color-bg;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
  }

  // .md-sidenav-backdrop.md-sidenav-shown {
  //   height: 100%;
  // }
}
