<h1 mat-dialog-title>Rename document</h1>

<form (submit)="updateTitle()" action="#">

  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Title" maxlength={{this.documentNameMaxSize}} [formControl]="titleControl" (focus)="selectAll($event)">
      <mat-hint align="end">{{titleControl.value.length}} / {{this.documentNameMaxSize}}</mat-hint>
    </mat-form-field>
  </div>

  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button mat-dialog-close type="submit">SAVE</button>
  </div>

</form>
