<div class="dialog">
  <h1 mat-dialog-title>Create a document</h1>

  <div class="choiceTyeOfDocument">
  <!-- Choose the type of document you want to create -->
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" #type value="noBotStorage">
      <mat-button-toggle value="noBotStorage" (click)="setNoBotStorage()">Without bot storage</mat-button-toggle>
      <mat-button-toggle value="pulsar" (click)="setPulsar()">With Pulsar</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Text to explain the choice of the user-->
  <div class="explanation">
    <div *ngIf="typeOfDocument == 'noBotStorage'">
      <p class="mat-body">The document you are going to create will not use bot storage</p>
    </div>

    <div *ngIf="typeOfDocument == 'pulsar'">
      <p class="mat-body">The document you are going to create will use pulsar</p>
    </div>
  </div>

  <div class="documentNaming"></div>
    <mat-checkbox #chooseDocumentName> I want to define a name for my document </mat-checkbox>
    <br>
    <div *ngIf="chooseDocumentName.checked">
      
      <input class="mat-Input" placeholder="Document name" type="text" [(ngModel)]="documentName" maxlength="25">
      <mat-hint align="end">{{documentName.length}} / {{documentNameMaxSize}}</mat-hint>
    </div>
    <mat-checkbox [(ngModel)]="accessingDocument"> I want to access the document right after creating it </mat-checkbox>
  

  <div class="buttons">
    <button (click)="createDocument()" mat-dialog-close mat-raised-button class='button'>
      Create
    </button>

    <button mat-dialog-close mat-raised-button class='button'>
      Cancel
    </button>  
  </div>

</div>