:host {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.doc-block {
  margin: 16px 0;
  padding: 0 5px;

  .line {
    padding: 6px 0;
    min-height: 36px;
  }

  .title {
    text-align: left;
    margin-right: 15px;
    width: 70px;
  }

  .icon {
    margin-left: 15px;
    font-size: 48;
    cursor: help;
  }
}

.chips-block {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70%;

  .chips {
    padding-top: 10px;

    .chip {
      padding-left: 10px;
      border-left-width: 0px;
      border-top-width: 0px;
      border-right-width: thick;
      border-bottom-width: 0px;
      border-style: solid;
      border-radius: 20px;
      padding: 4px 0 4px 4px;
      max-width: 130px;
      min-width: 130px;
      background-color: var(--theme-bg-card);
      margin: 0 5px 15px 5px;
      position: relative;

      .avatar {
        border-radius: 50%;
      }

      .displayName {
        white-space: nowrap;
        word-wrap: none;
        overflow-wrap: none;
        text-overflow: ellipsis;
        overflow: hidden;
        background: none;
        padding-left: 6px;
      }
    }
  }
}

.profile-block {
  z-index: 1000;
  margin-bottom: 10px;
  opacity: 0;
  margin: 0 5px 10px 5px;

  .info {
    margin-top: 0.5em;
    width: 100%;
    overflow: auto;

    .prop {
      overflow: auto;
    }
  }
}
