:host {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.block {
  padding: 0 5px;
  // margin: 0;
}

.doc-details-block {
  margin: 16px 0;
}

.collaborators-block {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70%;
}

.collab-chips {
  padding-left: 10px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: thick;
  border-bottom-width: 0px;
  border-style: solid;
  border-radius: 20px;
  padding: 4px 0 4px 4px;
  max-width: 130px;
  min-width: 130px;
  background-color: var(--theme-bg-background);
  margin: 0 0 15px 0;
  position: relative;
}

.collab {
  white-space: nowrap;
  word-wrap: none;
  overflow-wrap: none;
  text-overflow: ellipsis;
  overflow: hidden;
  background: none;
  padding-left: 6px;
}

.meta-title {
  text-align: left;
  margin-right: 15px;
}

.avatar {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.profile-card {
  right: 0px;
  z-index: 1000;
  margin-bottom: 10px;
  opacity: 0;
  // display: none;
}

.profile-card-container {
  margin-bottom: 10px;
}

.profile-card-name {
  white-space: nowrap;
}

.profile-card-login {
  white-space: nowrap;
}

.profile-card-info {
  margin-top: 0.5em;
}
